$white: #ffffff;
$black: #000000;
$dark:#202124;
$primary: #416FC8;
$grey-text: #888a91;
$success: #66BB6A;
$error: #E53935;
$info: #BDBDBD;

$border-color: #D3D4DB;
$border: 1px solid $border-color;

$shadow: 1px 1px 4px 0px rgba(34, 60, 80, 0.2);

$transition: 0.1s ease-in;

$listing-header-height: 30px


